<div class="mx-0 collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="guitar-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Guitar
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="guitar-link">
                <a href="{% url 'products' %}?category=acoustic_guitar" class="dropdown-item">Acoustic Guitars</a>
                <a href="{% url 'products' %}?category=electric_guitar" class="dropdown-item">Electric Guitars</a>
                <a href="{% url 'products' %}?category=electric_guitar,acoustic_guitar" class="dropdown-item">All Guitars</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bass-guitar-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bass Guitar
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bass-guitar-link">
                <a href="{% url 'products' %}?category=bass_guitar" class="dropdown-item">Bass Guitars</a>
                <a href="{% url 'products' %}?category=bass_guitar,acoustic_bass" class="dropdown-item">All Bass Guitars</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="amps-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Amplifiers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="amps-link">
                <a href="{% url 'products' %}?category=guitar_amps" class="dropdown-item">Guitar Amps</a>
                <a href="{% url 'products' %}?category=bass_guitar_amps" class="dropdown-item">Bass Guitar Amps</a>
                <a href="{% url 'products' %}?category=acoustic_amps" class="dropdown-item">Acoustic Guitar/Bass Amps</a>
                <a href="{% url 'products' %}?category=guitar_amps,acoustic_amps,bass_guitar_amps" class="dropdown-item">All Amps</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="drums-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drums
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="drums-link">
                <a href="{% url 'products' %}?category=acoustic_drums" class="dropdown-item">Acoustic Drums</a>
                <a href="{% url 'products' %}?category=cymbals" class="dropdown-item">Cymbals</a>
                <a href="{% url 'products' %}?category=acoustic_drums,cymbals" class="dropdown-item">All Drums</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="essentials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Essentials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="essentials-link">
                <a href="{% url 'products' %}?category=acoustic_strings" class="dropdown-item">Acoustic Guitar/Bass Strings</a>
                <a href="{% url 'products' %}?category=electric_strings" class="dropdown-item">Electric Guitar/Bass Strings</a>
                <a href="{% url 'products' %}?category=cables" class="dropdown-item">Cables</a>
                <a href="{% url 'products' %}?category=drum_sticks" class="dropdown-item">Drum Sticks</a>
                <a href="{% url 'products' %}?category=drum_heads" class="dropdown-item">Drum Heads</a>
                <a href="{% url 'products' %}?category=drum_heads,drum_sticks,plectrums,cables,electric_strings,acoustic_strings" class="dropdown-item">All Essentials</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>