{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <img src="{% media '500.jpg' %}" class="img-fluid" alt="500 image" height="400px">
                <h3 class="mb-5 fw-bold">Sorry, there is an issue with our servers. Please try again later.</h3>
                <a class="btn btn-beige mb-5" href="{% url 'home' %}">Back to Homepage</a>
            </div>
        </div>
    </div>
{% endblock %}