{% extends "base.html" %}
{% load static %}
{% block extra_title %} - Contact Page{% endblock %}

{% block page_header %}
    <div class="navbar-offset"></div>
{% endblock %}

{% block content %}
    <div class="mt-5 container header-container">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="my-5 fw-bold text-uppercase text-center">We'd love to hear from you</h2>
                </div>
            </div>
            <div>
                <p class="text-center">
                    You can call us, send us an email, or fill out this contact form below. 
                    Please note that our customer service teams are very busy just now and we are doing everything we can to get back to you as soon as possible. 
                    Thank you for your patience!
                </p>
            </div>
            <div class="text-center my-5">
                <h4 class="fw-bold">Call Us</h4>
                <p class="m-0">+44 - (0)12345 678 91</p>
                <p>Monday - Saturday 10:00 - 19:00</p>
            </div>
            <div class="text-center my-5">
                <h4 class="fw-bold">Email Us</h4>
                <p>soundhaven@example.com</p>
            </div>
            <div class="my-5">
                <h4 class="fw-bold text-center">Contact Form</h4>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-9 col-lg-7">
                        <form action="{% url 'contact' %}" method="POST">
                            {% csrf_token %}
                            {{ form | crispy }} 
                            <div class="text-end mt-5">
                                <button class="btn btn-black rounded-0" type="submit">Send Message</button>
                            </div>               
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}